.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
 flex-direction: column;
}


body {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}


.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: rgb(214, 31, 113);
  display: grid;
  place-content: center;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  color: white;
  border-radius: 0 0 10px 10px;
}
.deleteIcon {
  width: 20px;
  height: 20px; 
 
  margin-right: 50px; 
  margin-top: 20px;
  margin-bottom: 10px;
 
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%; 
 display: grid;
  justify-content: center;
  align-items: center;
  
  height: 80px; 
  width: 250px;
 
}



.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
 
}
.commentSection{
  background-color: rgb(214, 31, 113); 
  color: white; 
  font-size: 25px; 
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px; 
  padding: 10px; 
  text-align: center; 
  margin-top: 50px;
  margin-left: 100px;
  width: 200%;
  height: 60%;
  margin-top: 80px;
  display: flex;          
  justify-content: center; 
  align-items: center;     
  text-align: center;
}

.addCommentContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 80%; 
  margin-top: 20px;
}

.addCommentContainer input {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid dodgerblue;
  margin-bottom: 10px;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Comment Section Styling */
.listOfComments {
  width: 100%;
  margin-top: 420px;
  margin-right: 150pz;
}



.listOfComments .comment {
  width: 70%;
  height: 7%;
  padding: 20px;
  margin-left: -180px; 
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;          
  justify-content: center; 
  align-items: center;     
  text-align: center;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title, #individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}